{{ header }}

<link href="catalog/view/theme/default/stylesheet/svea/sco.css" rel="stylesheet">
<script src="catalog/view/theme/default/javascript/svea/sco.js"></script>
<script>sessionStorage.setItem("lastStep", 0);</script>

<div class="container" id="container">

    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>

    <section class="checkout-page-container">

        <div class="sco-main-content">
            <div class="row">
                <div class="col-12" style="width: 100%;">
                    <section class="sco-right-column">
                        <div id="sco-snippet-section">
                            {{ snippet }}
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </section>


</div>

{{ footer }}