<div class="container-fluid">
    <div><p>{{ logo }}</p></div>
        {% if countryCode  ==  "SE"  or  countryCode  ==  "DK"  or  countryCode  ==  "NO"  or  countryCode  ==  "FI"  or  countryCode  ==  "NL"  or  countryCode  ==  "DE" %}

        <br />
        <select id="svea_invoice_company" name="svea_invoice_company">
            <option value="true">{{ text_company }}</option>
            <option value="false" selected="selected">{{ text_private }}</option>
        </select><br /><br />

                {% if countryCode  ==  "SE"  or  countryCode  ==  "DK"  or  countryCode  ==  "NO"  or  countryCode  ==  "FI"%}
            <label for="ssn" id="svea_private_text">{{ text_ssn }}:</label>
            <label for="ssn" id="svea_business_text" style="display:none;">{{ text_vat_no }}:</label>
            <br />
            <input type="text" id="ssn" name="ssn" /><span style="color: red">*</span>
                {% endif %}
        {% endif %}
    <div id="svea_customerreference_div" style="display:none;">
        <label for="customerreference">{{ text_customerreference }}:</label><br />
        <input type="text" id="customerreference" name="customerreference" size="32" maxlength="32" />
    </div>
    {% if payment_svea_invoice_peppol  ==  '1'%}
    <div id="svea_peppolid_div" style="display:none;">
        <label for="peppolid">{{ text_peppolid }}:</label><br />
        <input type="text" id="peppolid" name="peppolid" size="55" maxlength="55" />
    </div>
    {% endif %}
</div>

{% if countryCode  ==  "SE"  or  countryCode  ==  "DK"  or  countryCode  ==  "NO" %}
    <div class="buttons">
        <div class="pull-right">
            <button id="getSSN" class="btn btn-primary">{{ text_get_address }}</button>
        </div>
    </div>
{% endif %}

    <div class="content" id="svea_invoice_div">
{% if countryCode  ==  "SE"  or  countryCode  ==  "DK"  or  countryCode  ==  "FI"  or  countryCode  ==  "NO" %}
<div id="svea_invoice_address_div" style="margin-left:15px; display:inline-block">
    <label for="svea_invoice_address">
                    {{ text_invoice_address }}
            {% if payment_svea_invoice_shipping_billing  ==  '1'%}
                   {{ ' / '~text_shipping_address }}
            {% endif %}

:</label><br />
    <select name="svea_invoice_address" id="svea_invoice_address" style="margin-left:15px; display:inline-block"></select>
</div>
{% endif %}

        {% if countryCode  ==  "DE"  or  countryCode  ==  "NL" %}

        {# Days, to 31 #}
        {% set days = '' %}
        {% set zero = '' %}
        {% for d in range(1, 31) %}
            {% set val = d %}
            {% if (d < 10) %}
                {% set val = "$d" %}
                {% set days = "<option value='$val'>$d</option>" %}
            {% endif %}
        {% endfor %}

        {% set birthDay = "<select name='birthDay' id='birthDay'>$days</select>"%}

        {# Months to 12#}
        {% set months = '' %}
        {% for m in range(1, 12) %}
            {% set val = m %}
            {% if m < 10 %}
                {% set val = "$m" %}
                {% set days = "<option value='$val'>$m</option>" %}
            {% endif %}
        {% endfor %}

        {% set birthMonth = "<select name='birthMonth' id='birthDay'>$months</select>"%}


        {# Years from 1913 to date('Y')#}
        {% set years = '' %}
        {% set date = date('Y') %}
        {% for y in range(1913, date) %}
            {% set selected = "" %}
            {% if y < (date - 30) %}
                {% set selected = "selected" %}
                {% set days = "<option value='$y' $selected> $y</option>" %}
            {% endif %}
        {% endfor %}

        {% set birthYear = "<select name='birthYear' id='birthYear'>$years</select>"%}


        <span id="sveaBirthDateCont">{{ text_birthdate }}:  {{ birthDaybirthMonthbirthYear }}<br /><br />
                        {% if countryCode  ==  "NL" %}
                {{ text_initials }}: <input type="text" id="initials" name="initials" />
                        {% endif %}
        </span>
        <span id="sveaVatNoCont">{{ text_vat_no }}: <input type="text" id="vatno" name="vatno" /><br /><br /></span>
        {% endif %}
    <br/>
</div>
<div id="svea_invoice_err" style="color:red; margin-bottom:10px"></div>
<div class="buttons">
    <div class="pull-right">
        <button id="checkout" class="btn btn-primary">{{ button_confirm }}</button>
    </div>
</div>

<style>
    #SveaAddressDiv{margin-left:15px; display:inline-block}
</style>

<script type="text/javascript"><!--
{% if countryCode  ==  "SE"  or  countryCode  ==  "DK"%}{# || $countryCode == "NO"){  #}
    $("#checkout").hide();
{% endif %}
{# If norway, hide getAddress for selected private
 #}
{% if countryCode  ==  "NO"%}
    $("#getSSN").hide();

{% endif %}
$('#sveaVatNoCont').hide();
$('#svea_invoice_address_div').hide();

//Selection of business || private
$("#svea_invoice_company").change(function(){

    if ($(this).val() == "true"){
        $('#sveaVatNoCont').show();
        $('#sveaBirthDateCont').hide();

        $('#svea_private_text').hide();
        $('#svea_business_text').show();
        $('#svea_customerreference_div').show();
        $('#svea_peppolid_div').show();

        //if norway show get address
            $('#getSSN').show();
        //$('#svea_invoice_div').show();
       // $('#svea_invoice_div').show();

        //if norway hide confirm
                 {% if countryCode  ==  "NO"%}
            $("#checkout").hide();
        {% endif %}

    } else {
        $('#sveaVatNoCont').hide();
        $('#sveaBirthDateCont').show();

        $('#svea_private_text').show();
        $('#svea_business_text').hide();
        $('#svea_customerreference_div').hide();
        $('#svea_peppolid_div').hide();

         //if norway hide get address
        {% if countryCode  ==  "NO"%}
            $("#getSSN").hide();
            $("#checkout").show();
            $("#svea_invoice_div").hide();
        {% else %}
            $('#getSSN').show();
        {% endif %}
        //$('#svea_invoice_div').hide();
    }
});

//Loader
var sveaLoading = '<img src="catalog/view/theme/default/image/loading.gif" id="sveaLoading" />';
var runningCheckout = false;
$('#checkout').click(function(event) {

    // we don't accept multiple confirmations of one order
    if(runningCheckout){
        event.preventDefault();
        return false;
    }
    runningCheckout = true;

    //Show loader
    $(this).parent().after().append(sveaLoading);


    var ssnNo = $('#ssn').val();
    var adressSelector = $('#svea_invoice_address').val();
    var Initials = $("#initials").val();
    var birthDay = $("#birthDay").val();
    var birthMonth = $("#birthMonth").val();
    var birthYear = $("#birthYear").val();
    var vatNo = $('#vatno').val();
    var company = $("#svea_invoice_company").val();
    var customerreference = $("#customerreference").val();
    var peppolid = $("#peppolid").val();
    //validate empty field
    if(ssnNo == ''){
        $("#svea_invoice_err").empty().addClass("attention").show().append('<br><div style="display:inline-block; margin-left:15px";>* {{ text_required }}</div>');
        $('#sveaLoading').remove();
        runningCheckout = false;
        return false;
    }

    $.ajax({
        type: 'get',
        dataType: 'json',
        data: {
            ssn: ssnNo,
            company: company,
            addSel: adressSelector,
            initials: Initials,
            birthDay: birthDay,
            birthMonth: birthMonth,
            birthYear: birthYear,
            vatno: vatNo,
            customerreference: customerreference,
            peppolid: peppolid
        },
        url: 'index.php?route=extension/payment/svea_invoice/confirm',
        success: function(data) {
            console.log(data);
                if(data.success){
                    location = '{{ continue }}'; // runningCheckout stays in effect until opencart finishes its redirect
                }
                else{
                    $("#svea_invoice_err").empty().addClass("attention").show().append('<br>'+data.error);

                    // remove runningCheckout so that we can retry the payment
                    $('#sveaLoading').remove();
                    runningCheckout = false;
                }
        }
    });
});

//Get address
var runningGetSSN = false;
$('#getSSN').click(function() {
    if(runningGetSSN){
        return false;
    }
    runningGetSSN = true;

    //Show loader
    $(this).parent().after().append(sveaLoading);

    var company = $("#svea_invoice_company").val();
    var ssnNo = $('#ssn').val();

    $("#svea_invoice_err").empty();
    $("#svea_invoice_address").empty();
    $("#svea_invoice_div").hide();

    if(ssnNo == ''){
        $("#svea_invoice_err").empty().addClass("attention").show().append('<br><div style="display:inline-block; margin-left:15px";>* {{ text_required }}</div>');
        $('#sveaLoading').remove();
        runningGetSSN = false;
    }
    else{
    	$.ajax({
            type: 'post',
            dataType: 'json',
            url: 'index.php?route=extension/payment/svea_invoice/getAddress',
            data: {
                ssn: ssnNo,
                company: company
            },
            success: function(data) {
                //on error
                if (data.error){

                    $("#svea_invoice_err").empty().addClass("attention").show().append('<br>'+data.error);

                }
                else{
                    if (company == "true"){
                        $("#SveaAddressDiv").empty();
                        $.each(data,function(key,value){
                            $("#svea_invoice_address").append('<option value="'+value.addressSelector+'">'+value.fullName+' '+value.street+' '+value.zipCode+' '+value.locality+'</option>');
                        }
                    );
                        $("#svea_invoice_address").show();

                    }else{
                        $("#SveaAddressDiv").remove();
                        $("#svea_invoice_div").append('<div id="SveaAddressDiv"><strong>'+data[0].fullName+'</strong><br> '+data[0].street+' <br>'+data[0].zipCode+' '+data[0].locality+'</div>');
                        $("#svea_invoice_address").hide();
                    }
                    $("#svea_invoice_address_div").show();
                    $("#svea_invoice_div").show();
                    $("#svea_invoice_err").hide();
                    $("#checkout").show();

                }

                $('#sveaLoading').remove();
                runningGetSSN = false;
    		}
    	});
    }
});
//--></script>