<div class="container-fluid">
    <form id="sveaForm" action="{{ continue }}" method="post">
        <div><p>{{ logo }}</p></div>
        <table class="radio">
            {% set i = 0 %}
            {% for sveaM in payment_sveaMethods %}
            {% if sveaM|slice(0, 2) == "DB" %}
            {{ '<div class="form-group">'}}
            {% if i == 0 %}
                {% set checked = "checked" %}
            {% else %}
                {% set checked = "" %}
            {% endif %}
                {{ '

                                <div class="col-sm-9">
                                 <input '~checked~ ' id="svea_'~sveaM~'" type="radio" value="'~sveaM~'" name="svea_directbank_payment_method">
                                 <img src="'~payment_svea_banks_base~sveaM~'.png" >

                           '
                }}
                {% set i = i + 1 %}
                {{ '</div>' }}
            {% endif %}
            {% endfor %}
        </table>

        <div class="buttons">
            <div class="pull-right">
                <input id="checkout_choose" class="btn btn-primary" type='submit' name='submit' value='{{ button_continue }}' />
            </div>
        </div>
    </form>
</div>